/* GovernmentDashboard.css */

/* Style for the main container */
.container {
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    color: rgb(7, 24, 70);
    background-color: #c5d4e3;
    border-radius: 10px;
  }
  
  /* Style for the filter inputs and buttons */
  .filter-container {
    display: flex;
    align-items: center;
    gap: 10px;
 
    background-color: #f0f0f0da;
    border-radius: 15px;
    padding:8px 12px;
  }
  
  /* Style for the table */
  .table-container {
    margin-top: 20px;
    
  }
  
  /* Style for table headers */
  .table-header {
    font-size: 18px;
    background-color: #f0f0f0;
    font-weight: bold;
  }
  
  /* Style for table rows */
  .table-row {
    font-size: 16px;
    transition: background-color 0.2s;
  }
  
  /* Highlight rows on hover */
  .table-row:hover {
    background-color: #e0e0e0;
  }
body{
  background-color: #ffffff;
}